body {
  display: flex;
  overflow: hidden;
}

.game {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("./images/back.png");
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: "hidden";
}

.foreground {
  width: 100vw;
}
